<div class="footer">
  <div class="footer-links">
    <%= image_tag("logo-white.png", alt: "Logo") %>
  </div>
  <div class="footer-copyright d-flex justify-content-center align-items-center">
    <a href="#">Terms of use</a>
    <a href="#">Privacy policy</a>
  </div>
</div>
