<div class="hero-banner d-flex justify-content-between">
  <div class="hero-title">
    <h2>Tomamos tus objetivos como propios</h2>
    <p>Tú gestionas tu marca, nosotros gestionamos tu presencia digital.</p>
  </div>
  <div class="hero-img">
    <%= image_tag("hero-img.png", alt: "Hero image") %>
  </div>
</div>
