<div class="our-team d-flex flex-column">
  <div class="our-team-text-container mt-5">
    <div class="our-team-text">
      <h2>Nuestro Equipo</h2>
      <p>Somos expertos en compra de medios y estrategia y posicionamiento digital.</p>
    </div>
  </div>
  <div class="mt-5">
    <div class="row avatares justify-content-between">
      <div class="col-lg-4 col-sm-12">
        <div class="avatar mechi w-100 text-center">
          <%= image_tag("mechi-con-gorra.png", alt: "mechi") %>
          <h3>Mechi</h3>
          <p>Strategy Specialist</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="avatar w-100 text-center">
          <%= image_tag("nahuel.png", alt: "nahuel") %>
          <h3>Nahuel</h3>
          <p>Head of Operations</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="avatar w-100 text-center">
          <%= image_tag("santi.png", alt: "santi") %>
          <h3>Santi</h3>
          <p>Business Leader</p>
        </div>
      </div>
    </div>
  </div>
</div>
