.contact-background {
  background-color: #D8ECEC;
  height: 100vh;
}

.contact-text {
  h2 {
    font-family: 'open sans', sans-serif;
    font-weight: 700;
    font-size: 64px;
  }
  .subtitle-text {
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
  h3 {
    font-family: 'open sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
  }
  p {
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}
