.hero-banner {
  background-color: #E4F548;
  width: 100%;
  height: 100%;
  position: relative;

}

.hero-title {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 4.5rem;
}

.hero-paragraph {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.hero-img-container {
  position: relative;
  width: 47.625rem;
  padding: 5.5rem 0;
}

.firulete {
  position: absolute;
  top: 0;
  right: 15rem;
  z-index: 100;
}

.hero-img {
  width: 100%;
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 2rem;
  }

  .media-padding-hero {
    padding: 5rem 0;
  }

  .hero-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
