.hero-banner {
  background-color: #E4F548;
  width: 100%;
  height: 58.8rem;
  position: relative;
}


.hero-title {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 72px;
  line-height: 90px;
}

.hero-paragraph {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.hero-img-container {
  position: relative;
  width: 47.625rem;
  height: 50.875rem;
  padding-top: 5.5rem;
}

.firulete {
  position: absolute;
  top: 0;
  right: 15rem;
  z-index: 100;
}

.hero-img {
  width: 100%;
}
