.navbar-lewagon {
  justify-content: space-between;
  background: #F8F9F9;
  height: 88px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.container-navbar {
  margin-left: 120px;
}

.logo {
  width: 197.91px;
  height: 47.43px;
}
