.our-customers {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.customers-text {
  text-align: center;
  margin-bottom: 3rem;
  h2 {
    font-family: 'open sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
  }
  p{
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
  }
}

.customer-logo {
  width: 12rem;
  object-fit: contain;
  object-position: center;
  padding: 0 1rem;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.small-logo {
  width: 20rem;
}

.logos {
  gap: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .customer-logo-mobile {
    width: 12rem;
    padding: 0 1rem;
  }

  .carousel-item-height {
    height: 175px;
  }
}
